<%- include("include/_navigation") -%>
    <main class=" flex-grow-1 ">
        <div class="container p-4">
            <h1>
                <%= record.albumName %>
            </h1>
            <p class="fw-light fs-5">
                <%= record.description %>
            </p>
            <div class=" mb-4 p-0 align-items-center" style="
                max-width: 300px;
            ">
                <div class="square-container">
                    <div class="square-img">
                        <img src=<%=record.image %>
                        class="" alt="
                        ...">
                    </div>
                </div>
            </div>
            <div>
                <strong class="fs-6 text-danger">$<%= record.price %></strong>
            </div>
            <div class="mt-1">
                <strong class="fs-6 text-muted">
                    <%= record.quantity %> in Stock
                </strong>
            </div>
            <div class="mt-1">
                <a href=<%=`/category/${record.categoryId}` %> class="card-text mb-1 btn btn-sm btn btn-outline-success
                    mt-1">
                    <%= record.categoryName %>
                </a>
            </div>
            <div class="d-flex  my-4">
                <a href=<%=`/update-item/${record._id} `%> class="btn btn-outline-secondary btn-md px-4"
                    href="#">Edit</a>
                <a class="btn  btn-md  px-4  btn-danger ms-4" href=<%=`/delete/${record._id}/${record.categoryId} `%>
                    >Delete</a>
            </div>
        </div>
    </main>
    <%- include("include/_footer") -%>