<%- include("include/_navigation") -%>
  <main class="flex-grow-1 " style="overflow-y: scroll; height:100vh;">
    <div class="container p-4">

      <h1>All Records</h1>
      <% if (records !="" ) { %>
        <% records.forEach((item)=> { %>
          <div class="card mb-3 mx-auto my-4 shadow" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <a class="text-decoration-none text-dark" href="">
                    <h5 class="card-title">
                      <%= item.name %>
                    </h5>
                  </a>
                  <p class="card-text mb-2">
                    <%= item.description %>
                  </p>
                  <p class="card-text mb-1"><small class="text-danger">
                      $<%= item.price %>
                    </small></p>
                  <p class="card-text mb-1"><small class="text-muted">
                      <%= item.quantity%> in stock
                    </small></p>
                  <a class="card-text mb-1 btn btn-sm btn btn-outline-success mt-1">
                    <%= item.category %>
                  </a>
                </div>
              </div>
              <div class="col-md-4 d-flex p-3 align-items-center">
                <div class="square-container">
                  <div class="square-img">
                    <img src=<%=item.image %> class="" alt="
                    ...">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
            <% } %>
    </div>
  </main>
  <%- include("include/_footer") -%>