<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="p-0 d-md-flex">

    <header class="bg-dark p-5 min-vh-100">
        <div class="text-center mb-3">
            <a href="/" class="text-decoration-none">
                <i class="fas fa-record-vinyl text-light fs-1"></i>
                <span class="text-light fs-1">Record Store</span>
            </a>
        </div>
        <span class="text-light fs-3 text-center d-block">Genres</span>
        <nav>
            <div class=" pb-4 pt-2 nav flex-column nav-pills " id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a href='/category'
                    class=" <%= selectedCategory.name === 'all items' ? 'active' : '' %> nav-link btn mt-3 text-capitalize"
                    id="v-pills-home-tab" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    All Records
                </a>
                <% if (category !="" ) { %>
                    <% category.forEach((item)=> { %>
                        <a href=<%=`/category/${item._id}` %>
                            class="
                            <% if(selectedCategory._id){%>
                                <%= selectedCategory._id.equals(item._id) ? "active" : "" %>
                                    <% }%>
                                        text-capitalize
                                        nav-link btn mt-3"
                                        id="v-pills-home-tab" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="true">
                                        <%= item.name %>
                        </a>
                        <% }) %>
                            <% } %>
            </div>
            <div class="container d-flex  align-items-center gap-4 gap-md-3 px-0 flex-md-column">
                <a style="width : 100%" class="btn btn-danger btn-md flex-fill px-0" href="/new-genre">New
                    Genre</a>
                <a style="width : 100%" class="btn btn-danger btn-md flex-fill px-0" href="/new-item">New Album</a>
            </div>
        </nav>
    </header>